.like-btn {
    background-image: url(../images/pngwing.com.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* put the height and width of your image here */
    height: 20px;
    width: 20px;
    border: none;
  }
  
  /* button span {
    display: none;
  } */